# DS-SF-36 | 03 | `pandas` | Assignment | Starter Code

## `pandas` and Bistro

You've just told one of your friend that you are taking a Data Science class.  (Yeah!)  Your friend is running a bistro, a small restaurant, serving moderately priced simple meals in a modest setting ([Wikipedia](https://en.wikipedia.org/wiki/Bistro)).  She collected over some period of time the following information of her patrons' visits.

| Variable's name | Its meaning |
|:---:|:---|
| `name` | Patron's first name |
| `gender` | Patron's gender |
| `is_smoker` | Whether the patron is smoking or not |
| `party` | Party's size |
| `check` | Check amount (\$) (after taxes but before tips) |
| `tip` | Tip (\$) that the patron added to the check |
| `day` | Week day of the visit |
| `time` | Rough time estimate of the visit |

In this assignment, we will be exploring this dataset using `pandas`.<sup>(*)</sup>

<sup>(*)</sup> this dataset was adapted from the `tips` dataset of the `seaborn` package (https://github.com/mwaskom/seaborn-data)

> ### Question 1.  Import `pandas` (as `pd`).

In [2]:
import os #operating system command so you can interact with your files

import numpy as np
import pandas as pd

In [3]:
pd.set_option('display.max_rows', 10)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

> ### Question 2.  Read the `dataset-03-bistro.csv` dataset.

In [132]:
df = pd.read_csv(os.path.join('..', 'datasets', 'dataset-03-bistro.csv'))

In [133]:
pd.read_csv(os.path.join('..', 'datasets', 'dataset-03-bistro.csv'))

          day    time      name  gender is_smoker  party  check   tip
0      Sunday  Dinner  Kimberly  Female     False      2  16.99  1.01
1      Sunday  Dinner  Nicholas    Male     False      3  10.34  1.66
2      Sunday  Dinner     Larry    Male     False      3  21.01  3.50
3      Sunday  Dinner    Joseph    Male     False      2  23.68  3.31
4      Sunday  Dinner    Janice  Female     False      4  24.59  3.61
..        ...     ...       ...     ...       ...    ...    ...   ...
239  Saturday  Dinner     Kevin    Male     False      3  29.03  5.92
240  Saturday  Dinner    Sandra  Female     False      2  27.18  2.00
241  Saturday  Dinner      Carl    Male     False      2  22.67  2.00
242  Saturday  Dinner       Jon    Male     False      2  17.82  1.75
243  Thursday  Dinner    Brandi  Female     False      2  18.78  3.00

[244 rows x 8 columns]

> ### Question 3.  What is the class of the `pandas` object storing the dataset?

In [10]:
type(df)

pandas.core.frame.DataFrame

Answer: pandas stored the dataset as a DataFrame.

> ### Question 4.  How many samples (i.e., rows) are in this dataset?

In [11]:
df.shape[0]

244

Answer: 244 samples

> ### Question 5.  How many variables (i.e., columns) are in this dataset?

In [12]:
df.shape[1]

8

Answer: 8 variables/columns.

> ### Question 6.  Print the name of each column in the dataset, one name per line.

In [134]:
for column in df.columns:
    print column

day
time
name
gender
is_smoker
party
check
tip

In [13]:
list(df)

['day', 'time', 'name', 'gender', 'is_smoker', 'party', 'check', 'tip']

In [16]:
df.dtypes

day           object
time          object
name          object
gender        object
is_smoker       bool
party          int64
check        float64
tip          float64
dtype: object

> ### Question 7.  Print the first two rows of the dataset to the console.  What does the output look like?

In [19]:
df[:2]

      day    time      name  gender is_smoker  party  check   tip
0  Sunday  Dinner  Kimberly  Female     False      2  16.99  1.01
1  Sunday  Dinner  Nicholas    Male     False      3  10.34  1.66

In [137]:
type(df[:2])

pandas.core.frame.DataFrame

In [17]:
df.head(2)

      day    time      name  gender is_smoker  party  check   tip
0  Sunday  Dinner  Kimberly  Female     False      2  16.99  1.01
1  Sunday  Dinner  Nicholas    Male     False      3  10.34  1.66

In [136]:
df.iloc[:2]

      day    time      name  gender is_smoker  party  check   tip
0  Sunday  Dinner  Kimberly  Female     False      2  16.99  1.01
1  Sunday  Dinner  Nicholas    Male     False      3  10.34  1.66

> ### Question 8.  Extract the last 2 rows of the data frame and print them to the console.  What does the output look like?

In [20]:
df[-2:]

          day    time    name  gender is_smoker  party  check   tip
242  Saturday  Dinner     Jon    Male     False      2  17.82  1.75
243  Thursday  Dinner  Brandi  Female     False      2  18.78  3.00

In [139]:
type(df[-2:])

pandas.core.frame.DataFrame

In [138]:
df.iloc[-2:]

          day    time    name  gender is_smoker  party  check   tip
242  Saturday  Dinner     Jon    Male     False      2  17.82  1.75
243  Thursday  Dinner  Brandi  Female     False      2  18.78  3.00

In [21]:
df.tail(2)

          day    time    name  gender is_smoker  party  check   tip
242  Saturday  Dinner     Jon    Male     False      2  17.82  1.75
243  Thursday  Dinner  Brandi  Female     False      2  18.78  3.00

> ### Question 9.  Does the dataset contain any missing values?

In [23]:
df.isnull().sum() #No, the data set doesn't contain missing values

day          0
time         0
name         0
gender       0
is_smoker    0
party        0
check        0
tip          0
dtype: int64

Answer: No, the data set doesn't contain missing values

> ### Question 10.  What can you say about the `is_smoker` variable?  I.e., will it bring any insights when analyzing the dataset?  What do you want to do with it?  (and do it...)

In [24]:
df.head(10) #quick look at data

      day    time      name  gender is_smoker  party  check   tip
0  Sunday  Dinner  Kimberly  Female     False      2  16.99  1.01
1  Sunday  Dinner  Nicholas    Male     False      3  10.34  1.66
2  Sunday  Dinner     Larry    Male     False      3  21.01  3.50
3  Sunday  Dinner    Joseph    Male     False      2  23.68  3.31
4  Sunday  Dinner    Janice  Female     False      4  24.59  3.61
5  Sunday  Dinner      Mark    Male     False      4  25.29  4.71
6  Sunday  Dinner     Jamie    Male     False      2   8.77  2.00
7  Sunday  Dinner    Steven    Male     False      4  26.88  3.12
8  Sunday  Dinner   Wilburn    Male     False      2  15.04  1.96
9  Sunday  Dinner       Ian    Male     False      2  14.78  3.23

In [143]:
#best answer here, others below
df.is_smoker.unique()

array([False], dtype=object)

Answer: no patrons are smokers.  Therefore we should get rid of this column.

In [145]:
df.drop('is_smoker',axis=1, inplace=True)

In [146]:
for column in df.columns:
    print column

day
time
name
gender
party
check
tip

In [39]:
#I would like to count them.  All patrons do NOT smoke 244.  Therefore, they don't need a smoking section
#df[is_smoker].value_counts(normalize=False, sort=True, ascending=False, bins=None, dropna=True)
df['is_smoker'].value_counts()
# print df['day'].value_counts()

False    244
Name: is_smoker, dtype: int64

In [30]:
#another less slick way is to make a subset of the dataframe and look at the row output
df[df.is_smoker == False]

          day    time      name  gender is_smoker  party  check   tip
0      Sunday  Dinner  Kimberly  Female     False      2  16.99  1.01
1      Sunday  Dinner  Nicholas    Male     False      3  10.34  1.66
2      Sunday  Dinner     Larry    Male     False      3  21.01  3.50
3      Sunday  Dinner    Joseph    Male     False      2  23.68  3.31
4      Sunday  Dinner    Janice  Female     False      4  24.59  3.61
..        ...     ...       ...     ...       ...    ...    ...   ...
239  Saturday  Dinner     Kevin    Male     False      3  29.03  5.92
240  Saturday  Dinner    Sandra  Female     False      2  27.18  2.00
241  Saturday  Dinner      Carl    Male     False      2  22.67  2.00
242  Saturday  Dinner       Jon    Male     False      2  17.82  1.75
243  Thursday  Dinner    Brandi  Female     False      2  18.78  3.00

[244 rows x 8 columns]

Answer: TODO

> ### Question 11.  For which week days does the dataset has data for?

In [31]:
df.day.unique()

array(['Sunday', 'Saturday', 'Thursday', 'Friday'], dtype=object)

Answer: Thursday through Sunday.

> ### Question 12.  How often was the bistro patronized for each week day?

(check `.value_counts()`; it could come in handy)

(http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html)

In [148]:
df['day'].value_counts()

Saturday    87
Sunday      76
Thursday    62
Friday      19
Name: day, dtype: int64

Answer: TODO

In [151]:
df.groupby('day').check.count() #could also do tip count

day
Friday      19
Saturday    87
Sunday      76
Thursday    62
Name: check, dtype: int64

> ### Question 13.  How much tip did waiters collect for each week day?

In [152]:
# df.groupby('day')['tip'].sum() #or below:
df.groupby('day').tip.sum()

day
Friday       51.96
Saturday    260.40
Sunday      247.39
Thursday    171.83
Name: tip, dtype: float64

Answer: TODO

> ### Question 14.  What is the average tip per check (in absolute \$) for each week day?

In [154]:
# df.groupby('day')['tip'].mean() #or
df.groupby('day').tip.sum()/df.groupby('day').tip.count()

day
Friday      2.734737
Saturday    2.993103
Sunday      3.255132
Thursday    2.771452
Name: tip, dtype: float64

Answer: TODO

> ### Question 15.  What is the average tip per check (as a percentage of the check) for each week day?

In [157]:
df.groupby('day').tip.sum()/df.groupby('day').check.sum()
# this is the answer provided in the key but I think the one I created below is more accurate
# as I did not group the tips and checks - I calculated one by one.

day
Friday      0.159445
Saturday    0.146424
Sunday      0.152038
Thursday    0.156732
dtype: float64

In [158]:
df2=df

In [159]:
df2['tip_per_check']=df2.tip/df2.check*100

In [160]:
df2.groupby('day')['tip_per_check'].mean()

day
Friday      16.991303
Saturday    15.315172
Sunday      16.689729
Thursday    16.127563
Name: tip_per_check, dtype: float64

> ### Question 16.  Are there any name in common between male and female patrons?  (E.g., `Chris` can refer to either a man or a woman)

(check `numpy.intersect1d()`; it could come in handy)

(https://docs.scipy.org/doc/numpy/reference/generated/numpy.intersect1d.html)

In [57]:
df_fem = df2[df2.gender == 'Female']
df_mal = df2[df2.gender == 'Male']


print df_fem.shape[0]
print df_mal.shape[0]

87
157

In [59]:
np.intersect1d(df_fem.name, df_mal.name, assume_unique=False)
#Yes, Casey is in both columns

array(['Casey'], dtype=object)

In [162]:
#answer key version
np.intersect1d(df[df.gender == 'Male'].name, df[df.gender == 'Female'].name)

array(['Casey'], dtype=object)

Answer: TODO

> ### Question 17.  If no patrons share the same name, how many unique patrons are in the dataset?

In [70]:
len(df2.name.unique())
# plus 1 for Casey, as there is a woman and man with the same name

181

Answer: TODO

> ### Question 18.  How many times did `Kevin` patronized the bistro?  How about `Alice`?

In [74]:
# df2[df2.name == 'Kevin']
df2['name'].value_counts()

Casey       8
David       8
James       5
Mary        4
Carl        4
           ..
Walter      1
Chandler    1
Reyes       1
Matthew     1
Sarah       1
Name: name, dtype: int64

In [78]:
df2[df2.name == 'Kevin'].name.count()
# or df2.name[df2.name == 'Kevin'].count()

4

In [163]:
(df.name == 'Kevin').sum() #answer key version

4

In [79]:
df2[df2.name == 'Alice'].name.count()

2

In [82]:
df2.name[(df2.name == 'Kevin') | (df2.name == 'Alice')].count()
# For fun, did Kevin plus Alice

6

Answer: TODO

> ### Question 19.  Who are the top 3 female and male patrons?

In [164]:
#answer key - they looked at how often they visited
df[df.gender == 'Female'].name.value_counts().head(3)

Mary     4
Casey    3
Laura    3
Name: name, dtype: int64

In [165]:
df[df.gender == 'Male'].name.value_counts().head(3)

David    8
James    5
Casey    5
Name: name, dtype: int64

In [ ]:
# Will assess based total spend - meal cost and tip (requires one step more than number of visits)

In [86]:
df2['total']= df2.tip + df2.check

In [91]:
df_fem2 = df2[df2.gender == 'Female']
df_mal2 = df2[df2.gender == 'Male']

In [99]:
print df_fem2.groupby('name')['total'].sum().sort_values()[-3:]
print df_mal2.groupby('name')['total'].sum().sort_values()[-3:]

name
Mary     63.69
Lisa     64.28
Laura    73.40
Name: total, dtype: float64
name
James    113.08
Casey    145.95
David    200.67
Name: total, dtype: float64

> ### Question 20.  Who's the best tipper (as a fraction of all tips over all check totals)?  Who's the worst?  How many times did they patronize the bistro?

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sort_values.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.sort_values.html)

In [166]:
(df.groupby(['name', 'gender']).tip.sum() / df.groupby(['name','gender']).check.sum()).\
    sort_values(ascending = False)

name      gender
Maryann   Female    0.416667
Bailey    Female    0.325733
Daniel    Male      0.313607
Dennis    Male      0.280535
Zackary   Male      0.266312
                      ...
Willie    Male      0.066534
Kimberly  Female    0.059447
Destiny   Female    0.056797
Mildred   Female    0.056433
Jeremy    Male      0.035638
dtype: float64

In [173]:
df[df.name == 'Maryann']

        day    time     name  gender  party  check  tip  tip_per_check
178  Sunday  Dinner  Maryann  Female      2    9.6  4.0      41.666667

In [169]:
df[df.name == 'Jeremy']

          day    time    name gender  party  check   tip  tip_per_check
237  Saturday  Dinner  Jeremy   Male      2  32.83  1.17       3.563814

Answer: TODO